ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: lime;
    justify-items: stretch;
  }
  
  li {
    display: inline;
    justify-content: space-between;
 
  }
    div { background-color: #649549;
        border: lightgray;
    size: 5000;
    }
div
H1 {color: #eaab1b;
}
span {color: #6CB840;
} 
